/*
	z-index range 8001-9000
*/
@media screen and (min-width: 1400px) {
	#pronites{
		background-image: url(../img/pronites/agn1.png);
		background-size: contain;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		opacity: 1;
		z-index: 7100;
		background-repeat: no-repeat;
		height: 100%;	
	}
}

@media screen and (max-width: 1399px) {
	#pronites{
		background-image: url(../img/pronites/agn2.png);
		background-size: 68% 100%;
		/*-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;*/
		opacity: 1;
		z-index: 7100;
		background-repeat: no-repeat;
		height: 100%;
		margin-top: 0%;
	}
}